body {
	margin: 0;
	padding: 0;
	background: rgb(255, 119, 34);
	font-family: sans-serif;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	width: 350px;
	padding: 40px;
	border-radius: 10px;
}

.box h2 {
	margin: 0 0 20px;
	padding: 0;
	color:rgb(255, 119, 34);
	text-align: center;
}

.inputBox {
	position: relative;
	margin-bottom: 20px;
}

.inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #333;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #0077B5;
	outline: none;
	background: transparent;
}

.inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #333;
	letter-spacing: 1px;
	pointer-events: none;
	transition: .5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
	top: -18px;
	left: 0;
	color: rgb(255, 119, 34);
	font-size: 12px;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.buttons button {
	background: #0077B5;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	outline: none;
}

.buttons button:last-child {
	margin-right: 0;
	background: #e74c3c;
}

.message {
    margin: 15px 0 0;
    color: #7b7b7b;
    font-size: 12px;
}
  
.message a {
    color: #4CAF50;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
	.box {
		width: 90%;
	}
}
